---
apiVersion: flux.weave.works/v1beta1
kind: HelmRelease
metadata:
  name: ghost-dromomania
  namespace: default
spec:
  chart:
    repository: https://charts.bitnami.com
    name: ghost
    version: 6.7.19
    releaseName: ghost-dromomania
  values:
    ghostHost: dromomania.be
    ghostUsername: dromomania
    ghostEmail: dromomania@simplistic.be
    ghostBlogTitle: Dromomania
    ghostProtocol: https
    ghostPort: 80
    allowEmptyPassword: "false"
    persistence:
      storageClass: do-block-storage
    resources:
      requests:
        cpu: "100m"
        memory: "128Mi"
    mariadb:
      enabled: true
      persistence:
        storageClass: do-block-storage
    service:
      type: ClusterIP
      port: 80
    ingress:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: nginx
        certmanager.k8s.io/cluster-issuer: letsencrypt-prod
      hosts:
        - name: dromomania.be
          path: /
          tls: true
          tlsSecret: letsencrypt-prod
