---
apiVersion: flux.weave.works/v1beta1
kind: HelmRelease
metadata:
  name: ghost-dromomania
  namespace: default
spec:
  chart:
    path: kubernetes/charts/ghost
    git: git@github.com:duologic/ghost-dromomania.git
    releaseName: ghost-dromomania
  values:
    volume:
      enabled: true
      pvClaimName: ghost-content-pv-claim
